@media screen and (min-width:824px) {
    .container{
        width: 689px;
    }
    .picture-section{
        position: relative;
        grid-template-columns: auto auto;
        margin-top: 50px;
        gap: 33px;
    }
    .picture-section-second{
        position: relative;
        z-index: 2;
        background: url(./photos/girl.tablet.png), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%) 0px 0px / 100% 100% no-repeat;
        background-repeat: no-repeat;
        width: 238.723px;
        height: 382.933px;
        background-position: bottom;
    }
    .picture-section-first{
        display: grid;
        gap: 25px;
    }
    h1,
    p{
        margin: 0px;
    }
    h1{
        margin-top: 49.23px;
    }
    .features-section-grid{
        grid-template-columns: auto auto;
        grid-row-gap:56px;
        grid-column-gap:11px;
        margin-top: 160px;
    }
    .checkbox{
        width: 339px;
        height: 259px;
        padding: 56px 21px 139px 32px;
        text-align: start;
    }
    .footer-section{
        gap:460px;
    }
    .picture-section-second #members {
        top: -25px;
        right: -32px;
    }
    .picture-section-second #hours {
        bottom: -40px;
        left: -64px;
    }
    .purple-ornament{
        position: absolute;
        background-image: url(./photos/purple\ rectangle.png);
        width: 298px;
        height: 507px;
        bottom: 2px;
        left: 451px;
        background-repeat: no-repeat;
    }
}
@media screen and (min-width:1450px) {
    .container{
        width: 100%;
        padding-inline: 165px;
    }
    .head h2{
        font-size: 36px;
    }
    .head a{
        font-size: 18px;
        width: 167px;
        height: 56px;
    }
    .picture-section{
        grid-template-columns: 457px 313px;
        gap: 258px;
        margin-top: 87px;
    }
    .purple-ornament{
        background-image: url(./photos/rectangle\ desktop.png);
        width: 461px;
        height: 1032px;
        left: 769px;
        bottom: -410px;
        background-size: 447px;
    }
    .picture-section-second{
        background: url(./photos/girl\ desktop.png), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%) 0px 0px / 100% 100% no-repeat;
        width: 317px;
        height: 560px;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    h1{
        margin: 0px;    
    }
    p{
        margin: 0px;
    }
    .picture-section-first{
        height: 359px;
        margin-top: 85px;
    }
    .picture-section-second #members{
        top: 126px;
        right: -104px;
        width: 155px;
        height: 120px;
    }
    .features-section-grid{
        grid-template-columns: auto auto auto;
    }
    .footer-section{
        display: flex;
        justify-content: space-between;
    }
}