@import'./colors.css';
*{
    box-sizing: border-box;
    text-decoration: none;
}
body{
    margin: 0px;
}
.container{
    width: 343px;
    margin: auto;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    height: 48px;
}
.head h2{
    color: var(--darkblue);
    font-size: 28px;
    font-weight: 800;
}
.head a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    background-color: var(--darkblue);
    width: 140px;
    height: 48px;
    border-radius: 28px;
}
.picture-section{
    display: grid;
    grid-template-columns: auto;
    gap: 70px;
}
h1{
    color: var(--darkblue);
    font-size: 40px;
    font-weight: 800;
}
p{
    color: var(--gray);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}
.picture-section-first a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: var(--white);
    height: 56px;
    width: 167px;
    border-radius: 31.5px;
    background: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
}
.picture-section-second{
    position: relative;
    height: 253px;
    width: 253px;
    border-radius:158.5px;
    background: url(./photos/girl.png), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%) 0px 0px / 100% 100% no-repeat;
    background-position: bottom;
    background-repeat: no-repeat;
    margin: auto;
}
#members,
#hours{
    position: absolute;
    height: 100px;
    background-color: var(--white);
    box-shadow: 0px 34px 54px 0px rgba(6, 22, 141, 0.16);
    border-radius:10px;
    text-align: start;
}
#members{
    width: 105px;
    padding: 16px 20px;
}
#hours{
    width: 155px;
    padding: 16px 45px 16px 20px;
}
#members p, #hours p{
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    margin: 0px;
    color: var(--gray);
}
#members span, #hours span{
    font-size: 32px;
    font-weight: 800;
}
.picture-section-second #members{
    top: -25px;
    right: -40px;
}
.picture-section-second #hours{
    bottom: -30px;
    left: -36px;
}